Repository 1000Bulbs/laptop: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, markdownlint

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: shellcheck
        name: shellcheck (mac)
        entry: shellcheck
        language: system
        types: [shell]
        files: ^mac$

      - id: yamllint
        name: yamllint
        entry: yamllint
        language: system
        types: [yaml]
        files: \.(yml|yaml)$

      - id: markdownlint
        name: markdownlint-cli2
        entry: markdownlint-cli2
        language: system
        types: [markdown]
        files: \.(md|markdown)$

Fix type on README
  README.md
Due: markdownlint

Customizes system behavior for a smoother and faster user experience
  mac
Due: none

Aliases have been moved to the dotfiles repo
  aliases/all
  aliases/brew.aliases
  aliases/docker.aliases
  aliases/git.aliases
  aliases/zsh.aliases
Due: none

Move git-change-branch script to dotfiles repo
  bin/git/git-change-branch.sh
Due: none

Move qa-logs script to dotfiles repo
  bin/qa-logs.sh
Due: none

Organize docker docs into root docs directory
  README.md
  docs/Docker.md
  docs/docker/click-copy-to-copy-the-token-value.png
  docs/docker/click-generate-new-token.png
  docs/docker/click-generate.png
  docs/docker/dashboard.png
  docs/docker/select-account-settings.png
  docs/docker/select-personal-access-tokens.png
  docs/docker/select-read-write-permissions.png
  docs/docker/sign-into-docker.png
Due: markdownlint

Move Workdpsace doc into docs directory
  docs/Workspace.md
Due: markdownlint

Install ripgrep package
  mac
Due: none

Update README
  README.md
Due: markdownlint

Install Microsoft Teams for office communication
  mac
Due: none

Install loom and zoom
  README.md
  mac
Due: markdownlint

Create ssh key and securely upload to github
  mac
Due: none

Fix non-interactive script in CI
  .github/workflows/ci.yml
  mac
Due: yamllint

Fix non-interactive script in asdf workflow
  .github/workflows/asdf.yml
Due: yamllint

Remove duplicate source from ~/laptop.local
  mac
Due: none

Updates to mac script and organize repo (#8)
  .github/workflows/asdf.yml
  .github/workflows/ci.yml
  README.md
  aliases/all
  aliases/brew.aliases
  aliases/docker.aliases
  aliases/git.aliases
  aliases/zsh.aliases
  bin/git/git-change-branch.sh
  bin/qa-logs.sh
  docs/Docker.md
  docs/Workspace.md
  docs/docker/click-copy-to-copy-the-token-value.png
  docs/docker/click-generate-new-token.png
  docs/docker/click-generate.png
  docs/docker/dashboard.png
  docs/docker/select-account-settings.png
  docs/docker/select-personal-access-tokens.png
  docs/docker/select-read-write-permissions.png
  docs/docker/sign-into-docker.png
  mac
Due: yamllint, markdownlint

TBDEV-4469 Update macOS runner versions in GitHub Actions workflows
  .github/workflows/asdf.yml
  .github/workflows/ci.yml
Due: yamllint

TBDEV-4469 Refactor mac script to remove deprecated homebrew workarounds
  mac
Due: none

TBDEV-4469 Change shebang to bash for shellcheck compatibility
  mac
Due: none

TBDEV-4469 Rename print functions to log for consistency
  mac
Due: none

TBDEV-4469 Use run_cmd for consistent command execution logging
  mac
Due: none

TBDEV-4469 Restrict mac script to Apple Silicon only
  mac
Due: none

TBDEV-4469 Remove legacy asdf version checking logic
  mac
Due: none

TBDEV-4469 Use present tense for run_cmd titles and improve success messages
  mac
Due: none

TBDEV-4469 Standardize logging and extend run_cmd usage throughout script
  mac
Due: none

TBDEV-4469 Consolidate GitHub Actions workflows and improve naming
  .github/workflows/asdf.yml
  .github/workflows/test.yml
Due: yamllint

TBDEV-4469 Fix run_cmd usage with output redirection
  mac
Due: none

TBDEV-4469 Remove run_cmd from homebrew installation
  mac
Due: none

TBDEV-4469 Add install_cask_app helper and refactor mac app installations
  mac
Due: none

TBDEV-4469 Move Apple Silicon check to top of script for fail-fast behavior
  mac
Due: none

TBDEV-4469 Add gum for fancy script output
  mac
Due: none

TBDEV-4469 Fix gum color output using hex colors
  mac
Due: none

TBDEV-4469 Match printf colors with gum hex colors
  mac
Due: none

TBDEV-4469 Suppress verbose brew output during spinner
  mac
Due: none

TBDEV-4469 Remove bold from printf success messages
  mac
Due: none

TBDEV-4469 Use standard ANSI green for printf success messages
  mac
Due: none

TBDEV-4469 Add -p flag to mkdir for local scripts directory
  mac
Due: none

TBDEV-4469 Fix sudo input for Docker, Teams, Zoom, and wkhtmltopdf
  mac
Due: none

TBDEV-4469 Improve visual consistency and use gum in bootstrap phase
  mac
Due: none
