Repository 1000Bulbs/laptop: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, markdownlint

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: shellcheck
        name: shellcheck (mac)
        entry: shellcheck
        language: system
        types: [shell]
        files: ^mac$

      - id: yamllint
        name: yamllint
        entry: yamllint
        language: system
        types: [yaml]
        files: \.(yml|yaml)$

      - id: markdownlint
        name: markdownlint-cli2
        entry: markdownlint-cli2
        language: system
        types: [markdown]
        files: \.(md|markdown)$

TBDEV-4469 Remove rcm and add zstd package
  mac
Due: none

TBDEV-4469 Update README for macOS requirements and tool changes
  README.md
Due: markdownlint

TBDEV-4469 Add legacy cleanup, asdf upgrade handling, and Ruby OpenSSL check
  README.md
  mac
Due: markdownlint

TBDEV-4469 Sync CI uninstall step with installed apps
  .github/workflows/test.yml
Due: yamllint

TBDEV-4469 Modernize laptop script with gum UI, legacy cleanup, and asdf upgrade handling (#9)
  .github/workflows/ci.yml
  .github/workflows/test.yml
  README.md
  mac
Due: yamllint, markdownlint

Update github actions badge on README
  README.md
Due: markdownlint

TBDEV-4626 Add Ruby 2.7.8 as global, install RubyGems 3.2.3 on both Ruby versions
  .github/workflows/test.yml
  mac
Due: yamllint

Fix RubyGems 2.6.7 update by using env for ASDF_RUBY_VERSION
  mac
Due: none

TBDEV-4626 Add Ruby 2.7.8 and RubyGems 3.2.3 to laptop script (#10)
  .github/workflows/test.yml
  mac
Due: yamllint
